let mapleader = " "
set clipboard+=unnamed
set scrolloff=8
set number relativenumber
set hlsearch incsearch ignorecase smartcase

map <leader>ff <Action>(GotoFile)
map <leader>fb <Action>(RecentFiles)
map <leader>fg <Action>(FindInPath)
map <leader>fs <Action>(GotoSymbol)

nmap <C-]> <Action>(GotoDeclaration)
nmap <C-o> <Action>(Back)
nmap <C-i> <Action>(Forward)
